{% extends 'base.html' %}
{% load static %}
{% block head %}
    <head>
        <link rel="stylesheet" href="{% static 'css/image_processing/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            jQuery.fn.outerHTML = function () {
                return jQuery('<div />').append(this.eq(0).clone()).html();
            };
            Number.prototype.countDecimals = function () {
                if (Math.floor(this.valueOf()) === this.valueOf()) return 0;
                return this.toString().split(".")[1].length || 0;
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
        <link rel="stylesheet" type="text/css"
              href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">

        <script src="{% static 'js/image_processing/grapick.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/image_processing/grapick.min.css' %}">

        <script src="{% static 'js/image_processing/undo-redo-stack.js' %}"></script>

        <script src="{% static 'js/image_processing/core.js' %}"></script>
        <script src="{% static 'js/image_processing/toolbar.js' %}"></script>
        <script src="{% static 'js/image_processing/canvas.js' %}"></script>
        <script src="{% static 'js/image_processing/shapes.js' %}"></script>

        <script src="{% static 'js/image_processing/freeDrawSettings.js' %}"></script>
        <script src="{% static 'js/image_processing/canvasSettings.js' %}"></script>
        <script src="{% static 'js/image_processing/selectionSettings.js' %}"></script>

        <script src="{% static 'js/image_processing/drawingLine.js' %}"></script>
        <script src="{% static 'js/image_processing/drawingPath.js' %}"></script>
        <script src="{% static 'js/image_processing/drawingText.js' %}"></script>
        <script src="{% static 'js/image_processing/tip.js' %}"></script>
        <script src="{% static 'js/image_processing/upload.js' %}"></script>
        <script src="{% static 'js/image_processing/copyPaste.js' %}"></script>

        <script src="{% static 'js/image_processing/utils.js' %}"></script>
        <script src="{% static 'js/image_processing/zoom.js' %}"></script>
        <script src="{% static 'js/image_processing/saveInBrowser.js' %}"></script>

    </head>
{% endblock head %}
{% block content %}
    <div class="tool_wrapper">
        <div id="image-editor-container"></div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/image_processing/script.js' %}"></script>
{% endblock js %}


