{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/pdf_processing/style.css' %}">
{% endblock head %}
{% block content %}
    <section class="tool_detail">
        <div class="container">
            <h2 class="visually_hidden">{{ title }}</h2>
            <div class="pdf_tool">
                <div class="pdf_tool__msg">
                    <p class="pdf_tool__msg-text"></p>
                </div>
                {% crispy form %}
{#                    <button type="submit" class="btn btn-primary">{{ form_btn_text }}</button>#}
                    {#                    <a href="#" id="download_link" style="display: none;">Завантажити#}
                    {#                        результат</a>#}
                <div class="loader"></div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}
    {#    <script src="{% static 'js/pdf_processing/ajax_send_file.js' %}"></script>#}
    {#    <script src="{% static 'js/pdf_processing/main.js' %}"></script>#}
{% endblock js %}