<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        PDF Editor
    </title>
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/pdf_processing/pdf_editor.css' %}">
    <script defer src="{% static 'js/pdf_processing/pdf_editor/pdf_editor.js' %}"></script>
  </head>
  <body>
    <h1 class="hidden">PDF editor</h1>
    <h2 class="hidden">Edit your pdf the way you want!</h2>
  </body>
</html>