{% extends '../base.html' %}
{% load static %}
{% block head %}
    <script defer="defer" src="{% static 'js/pdf_processing/pdf_addpagenumbers.js' %}"></script>
    <link href="{% static 'css/pdf_processing/pdf_addpagenumbers.css' %}" rel="stylesheet">
{% endblock head %}
{% block header_bottom %}
    <div class="intro action">
        <div class="container">
            <div class="intro-inner action">
                <div>
                    <h2 class="intro-title action">Add page numbers to a pdf.</h2>
                    <p class="intro-description action">Add page numbers to your pdf. You can choose the position where the numbers will be placed on the page.</p>
                </div>
                <span class="line action"></span>
            </div>
        </div>
    </div>
{% endblock header_bottom %}
{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <section class="tools-section">
        <h2 class="hidden">Tools</h2>
        <section class="tool_type-section">
        <h2 class="hidden">Tool</h2>
            <div class="container">
                <div class="tool_type-section-inner action">
                    <div id="root"></div>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}