{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/pdf_processing/style.css' %}">
{% endblock head %}
{% block content %}
    <section class="tool_detail">
        <div class="container">
            <h2 class="visually_hidden">{{ title }}</h2>
            <div class="pdf_tool">
                <div class="pdf_tool__msg">
                    <p class="pdf_tool__msg-text"></p>
                </div>
                {% crispy form %}
                <div class="loader"></div>
            </div>
        </div>
    </section>
{% endblock content %}
