{% extends 'base.html' %}
{% load static %}
{% block header %}
    <section class="menu">
        <div class="container">
            <h2 class="visually_hidden">Меню</h2>
            <div class="menu__inner">
                <div class="menu__lst_tools">
                    <h3 class="menu__lst_tools-title">Інструменти</h3>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="{% url 'image_processing' %}" class="menu__item-link">
                                - Обробка фото
                                <img src="{% static 'images/photo_icon.png' %}" alt="Іконка інструменту"
                                     class="menu__item-img">
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'text_extract' %}" class="menu__item-link">
                                - Робота із файлами
                                <img src="{% static 'images/files_icon.png' %}" alt="Іконка інструменту"
                                     class="menu__item-img">
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                - Генерація qr-кодів
                                <img src="{% static 'images/qrcode_icon.png' %}" alt="Іконка інструменту"
                                     class="menu__item-img">
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__item-link">
                                - Додатково
                                <img src="{% static 'images/tools_icon.png' %}" alt="Іконка інструменту"
                                     class="menu__item-img">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu__question">
                    <h3 class="menu__question-title">Чому саме ми?</h3>
                    <p class="menu__question-text">
                        Наш сервіс постійно оновлюється і з'являються нові інструменти, а також ми орієнтуємося на
                        простоту та зручність у використанні. Враховуємо всі побажання і зауваження користувачів!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}
{% block content %}
    <section class="tools">
        <div class="container">
            <!-- <h2>Інструменти</h2> -->
            <div class="tool">
                <h2 class="tool__title">Обробка фото</h2>
                <ul class="tool__list">
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            Lorem, ipsum
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            Lorem, ipsum
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            Lorem, ipsum
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            Lorem, ipsum
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tool">
                <h2 class="tool__title">Обробка фото</h2>
                <ul class="tool__list">
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            <span>Lorem, ipsum</span>
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            <span>Lorem, ipsum</span>
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            <span>Lorem, ipsum</span>
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                    <li class="tool__item">
                        <a href="" class="tool__item-link">
                            <span>Lorem, ipsum</span>
                            <img src="{% static 'images/photo_icon2.png' %}" alt="Іконка інструменту"
                                 class="tool__item-img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__inner">
                <div>
                    <h3 class="about__title">Про нас</h3>
                    <p class="about__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quasi commodi molestiae,
                        fugiat doloremque vero temporibus magnam ratione corrupti voluptates ducimus exercitationem
                        debitis alias repellat, nam quae deleniti eius nobis.
                    </p>
                </div>
                <img src="{% static 'images/robot.png' %}" alt="Про нас" class="about__img">
            </div>
        </div>
    </section>
{% endblock content %}